<mat-sidenav-container>
  <mat-sidenav #detailsSidenav mode="over" opened="false" position="end">
    <div class="details-container">
      <h3 class="lg:text-2xl xl:text-3xl ml-1 mb-1">
        {{ selectedNewsItem?.releaseDate }} -
        {{ selectedNewsItem?.releaseTime }}
      </h3>
      <h2 class="text-xl lg:text-3xl xl:text-4xl font-bold">
        {{ selectedNewsItem?.headline }}
      </h2>
      <p class="text-base lg:text-lg xl:text-xl">
        {{ selectedNewsItem?.body }}
      </p>

      <p class="COPYRIGHT text-sm lg:text-base xl:text-lg">
        {{ selectedNewsItem?.copyright }}
      </p>
    </div>
    <div class="close-btn-container border-none">
      <button
        class="bg-gray-200 border-none hover:bg-gray-300 text-gray-800 font-bold py-2 px-4 rounded"
        (click)="hideDetails()"
      >
        close
      </button>
    </div>
  </mat-sidenav>

  <!-- ----------card--------------------------- -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 parent">
    <div
      *ngFor="let item of news"
      (click)="showDetails(item)"
      class="overflow-hidden child"
    >
      <!-- <p
        class="StoryType inline-block mt-0 h-7 text-white w-32 font-sans bg-black  xl:ml-56 lg:ml-56 md:ml-44 sm:ml-28 rounded-br-none rounded-tr-none"
      >
        {{ item.storyType }}
      </p> -->

      <p class="StoryType inline-block">
        <!-- if SPL character not mentioned , by default it is Space-Separated -->
        {{ item.storyType | replaceSpecialCharacter:" ! "}}
      </p>
      <div class="px-6 py-4 mt-5">
        <p class="Time text-sm lg:text-base xl:text-lg sm:ml-0 md:ml-34 mb-2.5">
          {{ item.releaseDate }} - {{ item.releaseTime }}
        </p>
        <div
          class="font-bold text-lg lg:text-xl xl:text-2xl mb-2 cursor-pointer headline"
        >
          {{ item.headline }}
        </div>
        <p
          class="text-gray-700 overflow-hidden body-content cursor-pointer text-base lg:text-lg xl:text-xl h-100 sm:h-90"
        >
          {{ item.body }}
        </p>
      </div>
      <p
        class="truncate text-sm lg:text-base lg:h-24 lg:w-64 xl:text-lg"
        id="copyright"
      >
        {{ item.copyright }}
      </p>
    </div>
  </div>
</mat-sidenav-container>
