/* .parent {
  padding: 80px;
  height: auto;
}
.child {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 15px;
}
.child:hover {
  transform: scale(1.1) !important;
  transition: all 1s ease-in-out;
}

.body-content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 95px;
}

.headline {
  height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headline:hover {
  text-decoration: underline;
}

.Time {
  margin-left: 125px;
  margin-top: -5px;
  margin-bottom: 10px;
  display: inline-block;
}

.child:hover .Time {
  color: red;
}

#copyright {
  height: 95px;
  width: 270px;
  font-size: 0.6rem;
  margin-left: 17px;
  text-align: center;
} */

/* ----------side nav ---------------- */

/* .mat-drawer {
  width: 400px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f9f4f4;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
}

.details-container {
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.details-container h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
  color: crimson;
}

.details-container h2 {
  color: rgb(47, 61, 126);
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
  margin-top: 40px;
}
.details-container h2:hover {
  text-decoration: underline;
}

.details-container p {
  margin-bottom: 5px;
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
}

.COPYRIGHT {
  text-align: center !important;
  font-size: 0.7rem !important;
  color: rgb(165, 160, 160);
}

.close-btn-container {
  text-align: center;
}
.close-btn-container button {
  width: 120px;
  margin-left: 20px;
}

.close-btn-container button {
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn-container button:hover {
  color: #fff;
  background-color: #333;
  transition: 1s ease-in-out;
} */

/* ----------Media quries-------------- */

/* Mobile Devices */
/* @media only screen and (max-width: 599px) {
  .parent {
    padding: 20px;
  }
  .child {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
    border-radius: 10px;
  }
  .child:hover {
    transform: none;
  }
  .body-content {
    -webkit-line-clamp: 3;
    height: 65px;
  }
  .Time {
    margin-left: 0;
    margin-top: 10px;
  }
  .headline {
    font-size: 18px;
  }
  #copyright {
    height: auto;
    width: 100%;
    font-size: 0.6rem;
    margin-left: 0;
    text-align: center;
  }
  .mat-drawer {
    width: 100% !important;
    position: relative;
    box-shadow: none;
  }
} */

/* Tablets */
/* @media only screen and (min-width: 600px) and (max-width: 959px) {
  .parent {
    padding: 40px;
  }
  .child {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 15px;
  }
  .child:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
  }
  .body-content {
    -webkit-line-clamp: 3;
    height: 70px;
  }
  .Time {
    margin-left: 100px;
    margin-top: -5px;
  }
  .headline {
    font-size: 22px;
  }
  .mat-drawer {
    width: 100% !important;
    position: relative;
    box-shadow: none;
  }
} */

/* Desktops  */
/* @media only screen and (min-width: 960px) {
  .parent {
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .child {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    border-radius: 15px;
    width: 30%;
    margin-bottom: 40px;
  }
  .child:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
  }
  .body-content {
    -webkit-line-clamp: 4;
    height: 95px;
  }
  .Time {
    margin-left: 125px;
    margin-top: -5px;
    margin-bottom: 10px;
    display: inline-block;
  }
  .headline {
    height: auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .headline:hover {
    text-decoration: underline;
  }
  .mat-drawer {
    width: 400px !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f9f4f4;
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
  }
} */

/* ------------!Altered !--------------------- */
.parent {
  padding: 5rem;
  height: auto;
}
.child {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 0.188rem;
  border-radius: 1rem;
}
.child:hover {
  transform: scale(1.04);
  transition: all 0.7s ease-in-out;
  color: rgb(47, 61, 126);
}

.body-content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 6.85rem; */
}

.headline {
  height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headline:hover {
  text-decoration: underline;
}

.child:hover .Time {
  color: red;
}

#copyright {
  height: 5.938rem;
  /* width: 16.88rem; */
  font-size: 0.6rem;
  margin-left: 1.65rem;
  text-align: left;
}

/* ----------side nav ---------------- */

.mat-drawer {
  width: 25rem !important;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
  background-color: #f9f4f4;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
}

.details-container {
  padding: 1.25rem;
  cursor: pointer;
}

.details-container h3 {
  color: crimson;
  font-weight: bold;
}

.details-container h2 {
  color: rgb(47, 61, 126);
  margin-bottom: 0.625rem;
  margin-top: 1rem;
}
.details-container h2:hover {
  text-decoration: underline;
}

.details-container p {
  margin-bottom: 0.313rem;
  text-align: left;
  margin-top: 1.875rem;
  font-size: 1.15rem ;

}

.COPYRIGHT {
  text-align: left ;
  font-size: 0.7rem !important;
  color: rgb(165, 160, 160);
}

.close-btn-container {
  text-align: center;
}
.close-btn-container button {
  width: 7.5rem;
  margin-left: 1.25rem;
}

.close-btn-container button {
  color: #333;
  background-color: #fff;
  border-radius: 0.313rem;
  padding: 0.313rem 0.625rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
}

.close-btn-container button:hover {
  color: #fff;
  background-color: #333;
  transition: 0.7s ease-in-out;
}
