.parent {
  padding: 5rem;
  height: auto;
}
.child {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 0.188rem;
  border-radius: 1rem;
  position: relative;
}
.child:hover {
  transform: scale(1.04);
  transition: all 0.7s ease-in-out;
  color: rgb(47, 61, 126);
}

.body-content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 6.85rem; */
}

.headline {
  height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headline:hover {
  text-decoration: underline;
}

.child:hover .Time {
  color: red;
}

#copyright {
  height: 4rem;
  font-size: 0.6rem;
  margin-left: 1.65rem;
  text-align: left;
}

.StoryType {
  position: absolute;
  top: 0px;
  right: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: #fff;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.child:hover .StoryType {
  color: black;
  background-color: #f9f4f4;
  transition: 1s ease-in-out;
}

/* ----------side nav ---------------- */

.mat-drawer {
  width: 25rem !important;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
  background-color: #f9f4f4;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
}

.details-container {
  padding: 1.25rem;
  cursor: pointer;
}

.details-container h3 {
  color: crimson;
  font-weight: bold;
}

.details-container h2 {
  color: rgb(47, 61, 126);
  margin-bottom: 0.625rem;
  margin-top: 1rem;
}
.details-container h2:hover {
  text-decoration: underline;
}

.details-container p {
  margin-bottom: 0.313rem;
  text-align: left;
  margin-top: 1.875rem;
  font-size: 1.15rem;
}

.COPYRIGHT {
  text-align: left;
  font-size: 0.7rem !important;
  color: rgb(165, 160, 160);
}

.close-btn-container {
  text-align: center;
}
.close-btn-container button {
  width: 7.5rem;
  margin-left: 1.25rem;
}

.close-btn-container button {
  color: #333;
  background-color: #fff;
  border-radius: 0.313rem;
  padding: 0.313rem 0.625rem;
  font-size: 0.875rem;
  font-weight: bold;
  cursor: pointer;
}

.close-btn-container button:hover {
  color: #fff;
  background-color: #333;
  transition: 0.7s ease-in-out;
}
