.parent {
  padding: 80px;
  height: auto;
}
.child {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 15px;
}
.child:hover {
  transform: scale(1.04);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.body-content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 95px;
}

.headline {
  height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.headline:hover {
  text-decoration: underline;
}

.Time {
  margin-left: 145px;
  margin-top: -5px;
  margin-bottom: 10px;
  display: inline-block;
}

.child:hover .Time {
  color: red;
}

.copyright {
  margin-left: 185px;
  font-size: 0.8rem;
}
